@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

.body {
  font-size: 0.938rem;
  line-height: 1.3;
  letter-spacing: 0.016rem;
  font-family: "Wix Madefor Display", sans-serif;
  background-color: #F6F8FB;
}
.body--demo {
  padding: 1rem;
}
.body h1, .body h2, .body h3, .body h4, .body h5 {
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.body h1, .body .text-34 {
  font-size: 2.125rem;
  line-height: 2.563rem;
}
.body h2, .body .text-28 {
  font-size: 1.75rem;
  line-height: 2.125rem;
}
.body h3, .body .text-22 {
  font-size: 1.375rem;
  line-height: 1.75rem;
}
.body h4, .body .text-16, .body p {
  font-size: 1rem;
  line-height: 1.375rem;
}
.body h5, .body .text-14, .body label {
  font-size: 0.875rem;
  line-height: 1.125rem;
}
.body .text-12 {
  font-size: 0.75rem;
  line-height: 1rem;
}
.body p, .body a {
  font-weight: 300;
}
.body a {
  text-decoration: none;
  color: #0063fb;
}
.body a:hover {
  text-decoration: underline;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 40rem;
}
.form__button-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form__help {
  text-decoration: underline !important;
  max-width: 7.5rem;
}

.input {
  position: relative;
  max-width: 40rem;
}
.input__label, .input__icon {
  position: absolute;
}
.input__label {
  z-index: 3;
  font-weight: 600;
  font-size: 1.25rem;
  pointer-events: none;
  position: absolute;
  color: #767676;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
  transition: font-size 0.3s ease;
  padding-right: 2.7rem;
}
.input__icon {
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
}
.input__field {
  background-color: #e5e5e5;
  border-radius: 0.3rem 0.3rem 0 0;
  border: none;
  border-bottom: 0.01rem solid #767676;
  z-index: 1;
  height: 1.5rem;
  padding: 2.446rem 2.7rem 1.2rem 0.75rem;
  font-size: 1.25rem !important;
  width: 100%;
}
.input__field:not(placeholder-shown) + .input__label {
  font-size: 0.8rem !important;
  top: 15%;
  left: 0.75rem;
  transform: translateY(-15%);
}
.input__field:placeholder-shown + .input__label {
  color: #767676 !important;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
  font-size: 1.25rem !important;
}
.input__field:focus {
  outline: none;
  border-bottom: 0.15rem solid #0063fb;
}
.input__field:focus + .input__label {
  color: #0063fb !important;
  font-size: 0.8rem !important;
  top: 15%;
  left: 0.75rem;
  transform: translateY(-15%);
}
.input__help-text {
  color: #767676;
  font-size: 0.75rem !important;
}

.input__icon, .checkbox-group__info {
  z-index: 2;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
}
.input__icon:focus, .input__icon:hover, .checkbox-group__info:focus, .checkbox-group__info:hover {
  outline: none;
  background-color: rgba(23, 23, 23, 0.05);
  box-shadow: 0 0 0 0.7rem rgba(23, 23, 23, 0.05);
  border-radius: 50%;
}
.input__icon svg, .checkbox-group__info svg {
  width: 1.5rem;
  height: 1.5rem;
}

.checkbox-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 40rem;
}
.checkbox-group__label {
  font-size: 1rem !important;
  font-weight: 400 !important;
}
.checkbox-group__checkbox {
  width: 1.2rem;
  height: 1.2rem;
}
.checkbox-group__checkbox--primary {
  accent-color: #0063fb;
}
.checkbox-group__checkbox:focus, .checkbox-group__checkbox:hover {
  outline: none;
  background-color: #F1F9FF;
  box-shadow: 0 0 0 0.7rem #F1F9FF;
}
.checkbox-group__main {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.checkbox-group__info {
  margin-right: 0.75rem;
}

.button {
  border: none;
  border-radius: 0.5rem;
  padding: 0.86rem 1rem 0.86rem 1rem;
  font-size: 1.063rem;
  font-weight: 500;
  cursor: pointer;
}
.button:hover {
  transition: 0.3s ease-in-out;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}
.button--primary {
  background-color: #0063fb;
  color: #FFFFFF;
}
.button--primary:hover {
  background-color: #004fc8;
}
.button--primary-inverse {
  background-color: #FFFFFF;
  color: #0063fb;
}
.button--primary-inverse:hover {
  background-color: #fafafa;
}
.button--tertiary {
  background-color: #FFFFFF;
  color: #464646;
}
.button--disabled {
  background-color: #F6F8FB;
  color: #C3CCD9;
  cursor: not-allowed;
}
.button--full {
  width: 100%;
}

.card {
  border-radius: 0.5rem;
  max-width: 100%;
}
.card--white {
  background-color: #FFFFFF;
}
.card__heading {
  font-size: 1.5rem !important;
}
.card--login {
  width: 100vw;
}
.card__divide {
  margin-block: 0.5rem;
  border: 0.01rem solid #C3CCD9;
}
.card__body, .card__header {
  padding-inline: 1rem;
}
.card__company-logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.company-logo--finn {
  height: 1.125rem;
}
.company-logo--schibsted {
  height: 1.5rem;
}

.footer--small {
  display: flex;
  justify-content: start;
  padding-inline: 1rem;
  padding-top: 1rem;
  max-width: 27.5rem;
  margin: auto;
  gap: 1rem;
  overflow: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.footer__link--small {
  font-weight: 400;
  color: #464646 !important;
}

@media screen and (min-width: 600px) {
  .card {
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.35);
  }
  .card__body, .card__header {
    padding-inline: 2rem;
  }
  .card--login {
    margin-top: 3.125rem;
    max-width: 28.125rem;
    margin: 0;
    padding-block: 2rem;
  }
  .card__divide {
    display: none;
  }
  .card__company-logos {
    margin-top: 0;
  }
  .footer--small {
    justify-content: center;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow: hidden;
    margin-top: 2rem;
  }
}/*# sourceMappingURL=common.css.map */