// YOU MUST USE BEM HERE
// IMPLEMENT ALL THE RULES RELATED TO THE COMPONENTS THAT ARE PART OF YOUR DESIGN SYSTEM HERE 
// Example: input, button, card ...
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap');

// Typeface variable
$wix: "Wix Madefor Display", sans-serif;

// Color variables
// Logo colors
$primary-blue: #0063fb;
$secondary-blue: #06befb;
// Text colors
$licorice: #464646;
$stone: #767676;
$sardine: #C3CCD9;
// Background colors
$toothpaste: #B6F0FF;
$ice: #F1F9FF;
$marble: #F6F8FB;
$milk: #FFFFFF;
$mint: #CDFEE5;
$banana: #FFF5C8;
$salmon: #FFEFEF;
$gray-200: #e5e5e5;
// Detail colors
$lime: #059E6F;
$pea: #2EE69F;
$cherry: #D91F0A;
$watermelon: #FF5844;
$gray-900--shadow: rgba(23, 23, 23, 0.05);

* {
    box-sizing: border-box;
    margin: 0;
}

.body {
    &--demo {
        padding: 1rem;
    }
    font-size: 0.938rem;
    line-height: 1.3;
    letter-spacing: .016rem;
    font-family: $wix;
    background-color: $marble;
    h1, h2, h3, h4, h5 {
        font-weight: 700;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    h1, .text-34 {
        font-size: 2.125rem;
        line-height: 2.563rem;
    }
    h2, .text-28 {
        font-size: 1.75rem;
        line-height: 2.125rem;
    }
    h3, .text-22 {
        font-size: 1.375rem;
        line-height: 1.75rem;
    }
    h4, .text-16, p {
        font-size: 1rem;
        line-height: 1.375rem;
    }
    h5, .text-14, label {
        font-size: 0.875rem;
        line-height: 1.125rem;
    }
    .text-12 {
        font-size: 0.75rem;
        line-height: 1rem;
    }
    p, a {
        font-weight: 300;
    }
    a {
        text-decoration: none;
        color: $primary-blue;
        &:hover {
            text-decoration: underline;
        }
    }
}

// Form and inputs
.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 40rem;
    &__button-group {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    &__help {
        text-decoration: underline !important;
        max-width: 7.5rem;
    }
}
.input {
    position: relative;
    max-width: 40rem;
    &__label, &__icon {
        position: absolute;
    }
    &__label {
        z-index: 3;
        font-weight: 600;
        font-size: 1.25rem;
        pointer-events: none;
        position: absolute;
        color: $stone;
        top: 50%;
        left: 0.75rem;
        transform: translateY(-50%);
        transition: font-size 0.3s ease;
        padding-right: 2.7rem;
    }
    &__icon {
        top: 50%;
        right: 0.75rem;
        transform: translateY(-50%);
    }
    &__field {
        background-color: $gray-200;
        border-radius: 0.3rem 0.3rem 0 0;
        border: none;
        border-bottom: 0.01rem solid $stone;
        z-index: 1;
        height: 1.5rem;
        padding: 2.446rem 2.7rem 1.2rem 0.75rem;
        font-size: 1.25rem !important;
        width: 100%;
        // placeholder-shown method from Stack Overflow
        // https://stackoverflow.com/questions/16952526/detect-if-an-input-has-text-in-it-using-css-on-a-page-i-am-visiting-and-do-no
        &:not(placeholder-shown) {
            + .input__label {
                font-size: 0.8rem !important;
                top: 15%;
                left: 0.75rem;
                transform: translateY(-15%);
            }
        }
        &:placeholder-shown {
            + .input__label {
                color: $stone !important;
                top: 50%;
                left: 0.75rem;
                transform: translateY(-50%);
                font-size: 1.25rem !important;
            }
        }
        &:focus {
            outline: none;
            border-bottom: 0.15rem solid $primary-blue;
            + .input__label {
                color: $primary-blue !important;
                font-size: 0.8rem !important;
                top: 15%;
                left: 0.75rem;
                transform: translateY(-15%);
            }
        }
    }
    &__help-text {
        color: $stone;
        font-size: 0.75rem !important;
    }
}
.input__icon, .checkbox-group__info {
    z-index: 2;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    &:focus, &:hover {
        outline: none;
        background-color: $gray-900--shadow;
        box-shadow: 0 0 0 0.7rem $gray-900--shadow;
        border-radius: 50%;
    }
    svg {
        width: 1.5rem;
        height: 1.5rem;
    }
}

// Checkboxes
.checkbox-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 40rem;
    &__label {
        font-size: 1rem !important;
        font-weight: 400 !important;
    }
    &__checkbox {
        width: 1.2rem;
        height: 1.2rem;
        &--primary {
            accent-color: $primary-blue;
        }
        &:focus, &:hover {
            outline: none;
            background-color: $ice;
            box-shadow: 0 0 0 0.7rem $ice;
        }
    }
    &__main {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    &__info {
        margin-right: 0.75rem;
    }
}

// Buttons
.button {
    border: none;
    border-radius: 0.5rem;
    padding: 0.86rem 1rem 0.86rem 1rem;
    font-size: 1.063rem;
    font-weight: 500;
    cursor: pointer;
    &:hover {
        transition: 0.3s ease-in-out;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    }
    &--primary {
        background-color: $primary-blue;
        color: $milk;
    }
    &--primary:hover {
        background-color: darken($primary-blue, 10%);
    }
    &--primary-inverse {
        background-color: $milk;
        color: $primary-blue;
    }
    &--primary-inverse:hover {
        background-color: darken($milk, 2%);
    }
    &--tertiary {
        background-color: $milk;
        color: $licorice;
    }
    &--disabled {
        background-color: $marble;
        color: $sardine;
        cursor: not-allowed;
    }
    &--full {
        width: 100%;
    }
}

// Cards
.card {
    border-radius: 0.5rem;
    max-width: 100%;
    &--white {
        background-color: $milk;
    }
    &__heading {
        font-size: 1.5rem !important;
    }
    &--login {
        width: 100vw;
    }
    &__divide {
        margin-block: 0.5rem;
        border: 0.01rem solid $sardine;
    }
    &__body, &__header {
        padding-inline: 1rem;
    }
}

// Footers
.footer {
    &--small {
        display: flex;
        justify-content: start;
        padding-inline: 1rem;
        padding-top: 1rem;
        max-width: 27.5rem;
        margin: auto;
        gap: 1rem;
        overflow: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }
    &__link--small {
        font-weight: 400;
        color: $licorice !important;
    }
}

@media screen and (min-width: 600px) {
    .card {
        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.35);
        &__body, &__header {
            padding-inline: 2rem;
        }
        &--login {
            margin-top: 3.125rem;
            max-width: 28.125rem;
            margin: 0;
            padding-block: 2rem;
        }
        &__divide {
            display: none;
        }
    }
    .footer--small {
        justify-content: center;
        margin: 0;
        padding: 0;
        max-width: 100%;
        overflow: hidden;
        margin-top: 2rem;
    }
}