// USE THIS FILE TO CREATE THE LAYOUT AND SPECIFIC RULES FOR SCREENSHOTS 1 and 2
@use "common.scss";

.login-page {
    display: flex;
    justify-content: center;
    max-width: 1178px;
}

.info-box {
    display: none;
    background-color: common.$ice;
    text-align: center;
    margin-top: 5rem;
    padding-bottom: 5rem;
    &__img {
        width: 6.125rem;
    height: 12.5rem;
    margin: 0 auto;
    padding-top: 1rem;
    }
    &__copy {
        padding-inline: 2rem;
    }
}
.input-group__help-text {
    color: common.$stone;
    font-size: 0.7.5rem;
}
.company-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    &__finn {
        height: 1.125rem;
    }
    &__schibsted {
        height: 1.5rem;
    }
}
.footer-small {
    display: flex;
    padding-inline: 1rem;
    max-width: 26rem;
    margin: auto;
    gap: 1rem;
    overflow: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: common.$milk;
    &__link {
        font-weight: 400;
        color: common.$licorice !important;
    }
}

.main-page-content-body {
    justify-self: center;
    margin-left: 25%;
    margin-right: 25%;
}

.search-and-map {
    
}

.search-area {
    width: 100%;
    border-style: solid;
    .search-input {
        background-color: transparent;
        border-style: hidden;
        width: 90%;
        height: 100%;
    }
}

// screenshot 1 

.grid-layout {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.grid-layout__item--1 { grid-area: 1 / 1 / 2 / 2; }
.grid-layout__item--2 { grid-area: 1 / 2 / 2 / 3; }
.grid-layout__item--3 { grid-area: 1 / 3 / 2 / 4; }
.grid-layout__item--4 { grid-area: 1 / 4 / 2 / 5; }
.grid-layout__item--5 { grid-area: 1 / 5 / 2 / 6; }
.grid-layout__item--6 { grid-area: 1 / 6 / 2 / 7; }
.grid-layout__item--7 { grid-area: 2 / 1 / 3 / 2; }
.grid-layout__item--8 { grid-area: 2 / 2 / 3 / 3; }
.grid-layout__item--9 { grid-area: 2 / 3 / 3 / 4; }
.grid-layout__item--10 { grid-area: 2 / 4 / 3 / 5; }
.grid-layout__item--11 { grid-area: 2 / 5 / 3 / 6; }
.grid-layout__item--12 { grid-area: 2 / 6 / 3 / 7; }

@media screen and (min-width: 600px) {
    .login-page {
        margin-top: 3rem;
    }
    .login-page {
        padding: 2.5rem;
    }
    .footer-small {
        justify-content: end;
        background-color: transparent;
        margin: 0;
        max-width: 100%;
        overflow: hidden;
        margin-top: 2rem;
    }
    .company-logos {
        margin-top: 0;
    }
}

@media screen and (min-width: 800px) {
    .info-box {
        display: block;
    }
}