// USE THIS FILE TO CREATE THE LAYOUT AND SPECIFIC RULES FOR SCREENSHOTS 1 and 2
@use "common.scss";

.login-page {
    background-color: common.$milk;
}
.info-box {
    display: none;
    background-color: common.$ice;
    text-align: center;
    margin-top: 5rem;
    &__img {
        width: 6.125rem;
    height: 12.5rem;
    margin: 0 auto;
    padding-top: 1rem;
    }
    &__copy {
        padding-inline: 2rem;
    }
}
.input-group__help-text {
    color: common.$stone;
    font-size: 0.75rem !important;
}
.company-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    &__finn {
        height: 1.125rem;
    }
    &__schibsted {
        height: 1.5rem;
    }
}

@media screen and (min-width: 600px) {
    .login-page {
        background-color: transparent;
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        max-width: 1178px;
    }
    .login-page {
        padding: 2.5rem;
    }
    .company-logos {
        margin-top: 0;
    }
}

@media screen and (min-width: 800px) {
    .info-box {
        display: block;
        max-height: 30rem;
    }
}